nav {
    height: 60px;
    position: fixed;
    z-index: 10;
    background-color: rgb(243, 243, 243);
    top: 0px;
    width: 100%;
    .links {
        float: left;

        a {
            padding: 20px;
            height: 60px;
            display: inline-block;
            margin-right: 10px;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                background-color: darken(rgb(243, 243, 243), 10);
            }
        }
    }

    .party {
        float: right;

        img {
            height: 50px;
            width: auto;
            margin-right: 5px;
            margin-top: 5px;
        }

        img.pokeball {
            height: 30px;
            width: auto;
            margin-top: 15px;
            vertical-align: top;
            margin-right: 10px;
        }
    }
}

.all-pokemon {
    .pokemon {
        flex-basis: 16%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 10px;
        padding: 10px;
        background-color: rgb(243, 243, 243);
        border-radius: 2pt;
        text-align: center;

        &.in {
            background-color: rgb(233, 255, 199);
        }

        .types {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .btn {
            width: 100%;
            text-align: center;
            background-color: darken(rgb(243, 243, 243), 10);
            &:hover {
                background-color: darken(rgb(243, 243, 243), 40);
                color: white;
            }
        }

        &.in .btn {
            background-color: rgb(198, 224, 159);

            &:hover {
                background-color: rgb(138, 168, 93);
            }
        }

        .type-1,
        .type-2 {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 500px;

            &.normal {
                background-color: #a8a878;
            }

            &.grass {
                background-color: #78c850;
            }

            &.poison {
                background-color: #a040a0;
                color: white;
            }

            &.water {
                background-color: #6890f0;
                color: white;
            }

            &.psychic {
                background-color: #f85888;
                color: white;
            }

            &.dragon {
                background-color: #7038f8;
                color: white;
            }

            &.ghost {
                background-color: #705898;
                color: white;
            }

            &.fire {
                background-color: #f08030;
            }

            &.flying {
                background-color: #a890f0;
            }

            &.bug {
                background-color: #a8b820;
            }

            &.electric {
                background-color: #f8d030;
            }

            &.ground {
                background-color: #e0c068;
            }

            &.fighting {
                background-color: #c03028;
                color: white;
            }

            &.fairy {
                background-color: #ee99ac;
            }

            &.rock {
                background-color: #b8a038;
            }

            &.steel {
                background-color: #b8b8d0;
            }

            &.ice {
                background-color: #98d8d8;
            }

            &.dark {
                background-color: #705848;
                color: white;
            }
        }

        .type-2 {
            margin-left: 5px;
        }
    }
}

.party-pokemon {
    background-color: rgb(233, 255, 199);
    border-radius: 2pt;
    padding: 20px;
    padding-left: 0px;
    display: flex;
    flex-basis: 40%;
    flex-grow: 1;
    margin: 10px;
    align-items: center;

    .poke-col {
        flex-basis: 33%;
        flex-grow: 1;
        flex-shrink: 1;

        &:first-child {
            flex-basis: 200px;
        }
    }

    .details {
        padding-left: 20px;
        p {
            margin-bottom: 0px;
            font-size: 20px;
        }
    }
    .sprite {
        width: 200px;
        height: auto;
    }

    .types {
        text-align: right;
        justify-self: end;

        button {
            width: 100px;
            display: block;
            float: right;
            clear: both;
            padding: 10px;
            background-color: rgb(198, 224, 159);

            &:hover {
                color: white;
                background-color: rgb(138, 168, 93);
            }
        }

        .type-1,
        .type-2 {
            float: right;
            clear: both;
            margin-bottom: 10px;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 500px;
            display: block;
            text-align: center;
            width: 100px;

            &.normal {
                background-color: #a8a878;
            }

            &.grass {
                background-color: #78c850;
            }

            &.poison {
                background-color: #a040a0;
                color: white;
            }

            &.water {
                background-color: #6890f0;
                color: white;
            }

            &.psychic {
                background-color: #f85888;
                color: white;
            }

            &.dragon {
                background-color: #7038f8;
                color: white;
            }

            &.ghost {
                background-color: #705898;
                color: white;
            }

            &.fire {
                background-color: #f08030;
            }

            &.flying {
                background-color: #a890f0;
            }

            &.bug {
                background-color: #a8b820;
            }

            &.electric {
                background-color: #f8d030;
            }

            &.ground {
                background-color: #e0c068;
            }

            &.fighting {
                background-color: #c03028;
                color: white;
            }

            &.fairy {
                background-color: #ee99ac;
            }

            &.rock {
                background-color: #b8a038;
            }

            &.steel {
                background-color: #b8b8d0;
            }

            &.ice {
                background-color: #98d8d8;
            }

            &.dark {
                background-color: #705848;
                color: white;
            }
        }
    }
}
