@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}

@mixin format-box() {
    padding: $spacing;
    margin-top: $spacing;
    margin-bottom: $spacing;
    text-align: center;
}
